.wrapper {
  perspective: 800px;
}

.cube {
  position: relative;
  margin: 100px auto;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
  animation: spin 10s infinite linear;
}

.face {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  line-height: 200px;
  font-size: 80px;
  text-align: center;
}

.face1 {
  transform: translateZ(100px);
}

.face2 {
  transform: rotateY(90deg) translateZ(100px);
}

.face3 {
  transform: rotateY(180deg) translateZ(100px);
}

.face4 {
  transform: rotateY(-90deg) translateZ(100px);
}

.face5 {
  transform: rotateX(-90deg) translateZ(100px);
}

.face6 {
  transform: rotateX(90deg) translateZ(100px);
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
